@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@font-face {
  font-family: 'Bender';
  src: url(/Bender/Bender.otf);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Bender','Noto Sans SC', sans-serif;
  letter-spacing: -.05em;
}
input[type="date" i] {
  font-family: 'Bender','Noto Sans SC', sans-serif;
}
fieldset {
  margin: 0.2em;
}
.radio-text {
  margin-left: 0.2em;
}
.text {
  margin-top: 0.2em;
}
.text input {
  width: 50%;
}
.text-short input {
  width: 25%;
}
#build {
  margin: 0.4em;
}
.info {
  font-size: 0.8em;
}
/* Basic utility classes */
.hidden {
  display: none;
}
#error {
  text-align: center;
  color: #ffa600;
}
.error-secondary {
  font-size: 0.6em;
}
#output {
  font-family: 'Bender', monospace;
  margin: 0.25em;
}
