@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+SC:wght@100..900&display=swap');
@font-face {
  font-family: 'Bender';
  src: url(https://cdn.jsdelivr.net/gh/cirisus/ArknighTimer/Bender/Bender.otf);
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Bender','Noto Sans SC', sans-serif;
  letter-spacing: -.05em;
  background-color: #4d4d4d;
  /*background-image: url(https://picsum.photos/800/1200);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #ffa600;
  text-decoration: none;
  transition: .3s;
  &:hover {
    text-decoration: none;
    color: #a96e00;
  }
}
#form-container-wrap {
  --size:15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  &::before {
    content: '';
    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #f00;
    z-index: -1;
    transform: translateX(-40%);
  }
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: rgb(255, 200, 0);
    z-index: -1;
    transform: translateX(40%);
  }
}
#form-container {
  --size: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(10rem);
  position: relative;

}
#form {
  margin: auto;
  width: 100%;
  -webkit-backdrop-filter: blur(10rem);
  backdrop-filter: blur(10rem);
  z-index: 1;
}
input[type="date" i] {
  font-family: 'Bender','Noto Sans SC', sans-serif;
}
fieldset {
  color: #fff;
  margin: 0.2em;
}
.radio-text {
  margin-left: 0.2em;
}
.text {
  margin-top: 0.2em;
}
.text input {
  width: 50%;
}
.text-short input {
  width: 25%;
}
#build {
  margin: 0.4em;
}
.info {
  color: #fff;
  font-size: inherit;
}
/* Basic utility classes */
.hidden {
  display: none;
}
#error {
  text-align: center;
  color: #ffa600;
}
.error-secondary {
  font-size: 0.6em;
}
#output {
  font-family: 'JetBrains Mono', monospace;
  margin: 0.25em;
}
