@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: Glow Sans SC_Condensed;
  src: url(https://cdn.jsdelivr.net/gh/cirisus/ArknighTimer/GlowSans/GlowSansSC-Condensed-Medium.woff2);
  font-weight: normal;
  font-style: normal;
}
:root {
  --zero-accent: 157,39,39;
  --primary-accent: 255, 111, 0;
  --secondary-accent: 255, 212, 0;
  --third-accent: 255, 242, 142;
  --scale-2: 51,51,51;
}
body {
  font-family: 'Glow Sans SC_Condensed',Arial, sans-serif;
  text-shadow: 0 0 1px black;
}
#timer {
  display: grid;
  padding: 0.5rem;
  border: 3px solid rgb(var(--scale-2));
  background: repeating-linear-gradient(-45deg, rgb(var(--scale-2)), rgb(var(--scale-2)) 45px, rgb(var(--secondary-accent)) 0, rgb(var(--secondary-accent)) 90px);
}
#stuff {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "title"
    "countdown";
}
#title {
  grid-area: title;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  background: rgb(var(--scale-2));
  width: fit-content;
  padding: 0 .5rem;
  margin: auto;
    outline: 2px solid #ffd301;
    box-shadow: inset 0 0 2px #ffd400;
    background-image: repeating-linear-gradient(135deg, rgb(var(--scale-2)), rgb(var(--scale-2)) 8px, rgb(111 111 111) 0, rgb(117 117 117) 16px);
    background-size: 500%;
    animation: progress-bar 300s infinite linear;
}
@keyframes progress-bar {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position: -400%;
  }
}
#clock {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-area: countdown;
  color: #f3f2ec;
  background-color: rgb(var(--scale-2), .75);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  text-align: center;
  border-radius: 0.25em;
  margin: 1em auto 0;
  padding: 0 .25rem;
  box-shadow: 0 0 4px black;
  box-sizing: border-box;
  min-width: 150px;
  &::before {
    content: 'Status';
    font-family: "Barlow Condensed", sans-serif;
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 0.15em;
    background-color: #ffc700;
    z-index: 1;
    transform: translate(18%,-50%);
    box-shadow: 0 0 3px 0px black;
    padding: 2px 3px;
    align-items: center;
    color: white;
    text-shadow: 0 0 2px black;
    text-transform: uppercase;
  }
  &::after {
    content: attr(data-status);
    font-family: "Barlow Condensed", sans-serif;
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 0.15em;
    z-index: 1;
    transform: translate(100%,-50%);
    box-shadow: 0 0 3px 0px black;
    padding: 2px 3px;
    align-items: center;
    text-shadow: 0 0 2px black;
    text-transform: uppercase;
  }
}
#clock[data-status="running"]::after {
  background-color: #16663e;
  color: #ccc;
}
#clock[data-status="expired"]::after {
  background-color: #ffcc00;
  color: #fdfdfd;
  transform: translate(105%,-50%);
}
#clock[data-status="unstarted"]::after {
  background-color: #003d98;
  color: #ccc;
  transform: translate(80%,-50%);
}
#clock[class="hidden"]::after {
  content: 'error';
  background-color: #ad2117;
  color: #ccc;
  transform: translate(132%,-50%);
}
.progress-bar {
  display: flex;
  position: relative;
  height: 6px;
  background-color: #e5e5e55f;
  width: 100%;
  margin: 1rem 0.5rem 0;
  border-radius: 2px;
  box-shadow: 0 0 4px black, inset 0 0 4px #746f57;
}
.progress-bar:last-child {
  margin: 0 .5rem .75rem;
  justify-content: flex-end
}
.progress-line {
  height: 100%;
  background-image: repeating-linear-gradient(-45deg, rgb(var(--zero-accent)), rgb(var(--zero-accent)) 6px, rgb(var(--secondary-accent)) 0, rgb(var(--secondary-accent)) 12px);
  background-size: 600%;
  border-radius: 2px;
  display: inline-flex;
  width: 0%;
  position: absolute;
  transition: .2s;
  box-shadow: 0 0 3px black;
  animation: progress-bar 300s infinite linear;
}
#clock[data-status="expired"] .progress-line {
  background-image: repeating-linear-gradient(-45deg, rgb(var(--zero-accent)), rgb(var(--zero-accent)) 6px, rgb(var(--primary-accent)) 0, rgb(var(--primary-accent)) 12px);
}
.unit {
  display: inline-flex;
  margin: 0.5em 0;
  justify-content: center;
  align-items: center;
}

.unit-value {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2em;
  color: rgb(var(--scale-2));
  background-color: #ccc;
  border-radius: 0.15em;
  padding: 0.15em;
  box-shadow: 0 0 5px black;
  min-width: 1.5rem
}

.unit-label {
  font-size: 1.5em;
  padding: 0 .25rem;
}

/* Basic utility classes */
.hidden {
  display: none;
}
.error {
  color: rgb(var(--primary-accent))
}
.error-secondary {
  font-size: 0.6em
}
.unstarted {
  color: rgb(var(--primary-accent))
}
.progress {
  color: #f3f2ec
}
.finished {
  color: rgb(var(--third-accent));
}
.error,.unstarted,.finished,#clock[data-status="expired"] .progress-line {
  animation: none !important;
}