@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --primary-accent: 255, 102, 0;
  --secondary-accent: 255, 212, 0;
  --scale-3: 80,80,80;
}
body {
  font-family: Arial, sans-serif;
}
#timer {
  border-color: rgb(var(--primary-accent));
  background: repeating-linear-gradient(-45deg, rgb(var(--primary-accent)), rgb(var(--primary-accent)) 45px, rgb(var(--secondary-accent)) 0, rgb(var(--secondary-accent)) 90px);
}
#title {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

#clock {
  background-color: rgb(var(--scale-3));
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
  text-align: center;
  border-radius: 0.25em;
  margin: 1em;
}

.unit {
  display: inline-block;
  margin: 0.5em;
}

.unit-value {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  background-color: #ccc;
  border-radius: 0.25em;
  padding: 0.15em;
}

.unit-label {
  font-size: 1.5em;
}

/* Basic utility classes */
.hidden {
  display: none;
}

.error {
  color: #fd0;
}

.error-secondary {
  font-size: 0.6em;
}

.progress {
  color: black;
}

.finished {
  color: #282;
}
